 .titulo p {
   position: absolute;
   top: 50%;
   left: 50%;
 }

.parrafo {

    font-size: 0.68rem;
}

.footer .container-footer a {
   text-decoration: none;
   width: 100px;
   text-align: center;
}

.card {
    border-width: 0;
}



.footer-item {
    color: white
}
/* .botonform { 
    background-color: rgb(173, 255, 47);
}*/


 
    